@using ProjektWypozyczalnia.Models;
@using System.Linq


@{
    ViewData["Title"] = "Dostępne samochody";
}

<h1>Dostępne samochody</h1>

<div class="row">
    @foreach (var car in Model)

    {
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <!-- Zdjęcie samochodu -->
                @* <img class="card-img-top" src="~/images/@car.Id.jpg" alt="Car Image" style="height: 200px; object-fit: cover;"> *@

                <div class="card-body">
                    <h5 class="card-title">@car.Model.Manufacturer.Name</h5>
                    <!-- Model samochodu -->
                    <h5 class="card-title">@car.Model.Name</h5>

                    <!-- Cena za dzień -->
                    <p class="card-text">Price per day: @car.Model.PricePerDay.ToString("C")</p>
                    
                    <!-- Typ samochodu -->
                    <p class="card-text">Type: @car.Type.Description</p>
                    <!-- Status samochodu -->
                    @* @foreach (var reservation in car.Reservations)
                    {
                        <p class="card-text">Status: @reservation.Status.Description</p>
                    } *@
                    <!-- Przyciski -->
                    <div class="d-flex justify-content-between align-items-center">

                        <a href="@Url.Action("Create", "Reservations", new { area = "User", carId = car.Id })" class="btn btn-primary">
                            Reserve
                            
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
    
</div>
